html {
  font-size: 18px;
  box-sizing: border-box;
  color: #9698a6;
  overflow-x: hidden; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Public Sans', sans-serif;
  overflow-x: hidden;
  width: 100vw; }
  body ::selection {
    background-color: #31d35c;
    color: #ffffff; }

.container {
  margin: 0 auto;
  width: 85%; }

.header__top {
  padding: 1rem .3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: relative;
  background-color: #fff;
  z-index: 100; }

.header__logo {
  display: block;
  margin-top: .8rem; }

.header__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 35%; }

.header__link {
  text-decoration: none;
  color: inherit;
  display: block; }
  .header__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: none;
    height: 3px;
    width: 3.5rem;
    background-image: linear-gradient(to right, #31d35c, #2bb7da); }
  .header__link:hover {
    color: #2d314d; }
  .header__link:hover::after {
    display: block; }

.header__bottom {
  position: relative;
  height: 80vh;
  padding: 10rem 0;
  background-image: url(../images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-position: 43vw 50%;
  background-size: cover;
  z-index: 2;
  background-color: #fafafa; }
  .header__bottom p {
    line-height: 1.5rem;
    margin-bottom: 2.5rem; }

.header__text {
  width: 45%; }
  .header__text p {
    width: 110%; }

.header__title {
  color: #2d314d;
  font-weight: 300;
  margin-bottom: 1.5rem;
  font-size: 3rem; }

.header__img {
  position: absolute;
  right: -5rem;
  top: -7rem;
  z-index: -1;
  width: 50%; }

.choose {
  padding: 8rem 0 3rem;
  background-color: #f3f4f6; }
  .choose .paragraph {
    width: 50%;
    margin-bottom: 5rem;
    line-height: 1.5rem; }
  .choose__wrapper {
    display: flex;
    align-items: center; }
    .choose__wrapper .paragraph {
      width: 80%;
      line-height: 1.5rem; }
  .choose .icon {
    display: block;
    margin-bottom: 2rem; }
  .choose__title {
    color: #2d314d;
    font-weight: 400;
    margin-bottom: 1.5rem; }

.articles {
  padding: 8rem 2rem;
  background: #fafafa; }
  .articles h2 {
    margin-bottom: 3.5rem; }
  .articles__wrapper {
    display: flex;
    justify-content: space-around; }
  .articles__block {
    background-color: #fff; }
    .articles__block:not(:last-child) {
      margin-right: 1.4rem; }
  .articles__img-box {
    height: 11rem; }
    .articles__img-box img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px; }
  .articles__text-box {
    padding: 2rem 1.2rem; }
  .articles__author {
    font-size: .7rem;
    margin-bottom: .6rem; }
  .articles__subtitle {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: .6rem; }
  .articles__link {
    text-decoration: none;
    color: #2d314d; }
    .articles__link:hover {
      color: #31d35c; }

.footer {
  padding: 2.5rem;
  background-color: #2d314d; }
  .footer .container {
    display: flex;
    align-items: flex-end; }
  .footer__logo {
    display: inline-block;
    margin-bottom: 3rem; }
  .footer__social {
    display: flex; }
    .footer__social a {
      display: flex;
      align-items: flex-end; }
      .footer__social a:not(:last-child) {
        margin-right: 0.6rem; }
  .footer__icon {
    width: 1.2rem;
    height: 1.2rem;
    fill: #fff; }
    .footer__icon:hover {
      fill: #31d35c; }
  .footer__wrapper-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start; }
  .footer__wrapper-2 {
    display: flex;
    width: 30%;
    margin-left: 5rem; }
  .footer__wrapper-3 {
    margin-left: auto;
    text-align: right; }
    .footer__wrapper-3 .btn {
      display: inline-block;
      margin-bottom: 2rem; }
    .footer__wrapper-3 small {
      display: block; }
  .footer__list {
    list-style: none;
    font-weight: 300;
    font-size: .7rem;
    display: flex;
    width: 100%; }
    .footer__list li:not(:last-child) {
      margin-bottom: 0.8rem; }
  .footer__link {
    text-decoration: none;
    color: #fafafa; }
    .footer__link:hover {
      color: #31d35c; }
  .footer__list-1 {
    margin-right: 7rem; }

.btn {
  position: relative;
  padding: .8rem 1.5rem;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
  background-image: linear-gradient(to right, #31d35c, #2bb7da); }
  .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    opacity: .3;
    display: none; }
  .btn:hover::before {
    display: block; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.heading {
  font-size: 2.5rem;
  color: #2d314d;
  font-weight: 300;
  margin-bottom: 2.5rem; }

.paragraph-secondary {
  font-size: .8rem;
  line-height: 1.2rem; }
