
.btn {

    position: relative;
    padding: .7rem 1.5rem;
    border: none;
    border-radius: 4rem;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    font-size: .8rem;
    line-height: 1rem;
    color: $color-white;
    background-image: linear-gradient(to right, $color-lime-green, $color-bright-cyan);
    &:hover {
        background-image: linear-gradient(to left, $color-lime-green, $color-bright-cyan);
    }
    @media only screen and (max-width: 700px) {
        &:hover {
            background-image: linear-gradient(to right, $color-lime-green, $color-bright-cyan);
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 20px;
        opacity: .3;
        display: none;
    }
    &:hover::before {
        display: block;
    }

    @media only screen and (max-width: 700px) {
        &:hover::before {
            display: none;
        }
    }

    // &:hover::after {
    //     transform: scaleX(1.4) scaleY(1.6);
    //     opacity: 0;
    // }
}

//  Heading

.heading {
    font-size: 2.5rem;
    color: $color-dark-blue;
    font-weight: 300;
    margin-bottom: 2.5rem;

    @media only screen and (max-width: 900px) {
        text-align: center;
    }
}

.paragraph-secondary {
    font-size: .8rem;
    line-height: 1.2rem;
}