// buttons

.btn {
    position: relative;
    padding: .8rem 1.5rem;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 1px;
    color: $color-white;
    background-image: linear-gradient(to right, $color--lime-green, $color-bright-cyan);

    &:hover {
        background-image: linear-gradient(to left, $color--lime-green, $color-bright-cyan);
        ;
    }

    &::after {
        content: "";
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background-color: #8cdef3;
        transition: all .4s;
        z-index: -1;
    }

    &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
}

//  Heading

.heading {
    font-size: 2.5rem;
    color: $color-dark-blue;
    font-weight: 300;
    margin-bottom: 2.5rem;
}

.paragraph-secondary {
    font-size: .8rem;
    line-height: 1.2rem;
}